section.pictures{
  padding: 10px 0px;
  display: flex;
}

div.effect{
  flex: 25%;
  text-align: center;
  position: relative;
  
  h2{
    padding: 30px 10px 0px;
    font-size: 14px;
    font-weight: 700;
  }
  
  img{
    width: 100%;
    height: auto;
  }

  div.pictures-hover{
    
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.50);
        border-bottom: 1px solid $primary-color;
        @include transition(0.4s);
        opacity: 0;
        &:hover{
          opacity: 1;
        }
        .hover-links{
          text-align: center;
          font-size: 15px;
          padding: 100px;
          
          i{
            display: inline-block;
            padding: 10px;
            margin: 7px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background: $primary-color;
            color: white;
          }
        
        }
      }
    }

  


div.buttons{
  text-align: center;
  .btn-default{
    color: black;
    background: white;
    border: 1px solid $text-color;
    border-bottom: 2px solid $text-color;
    font-size: 14px;
    padding: 10px 20px;
    &:hover{
      border: 2px solid black;
    }
    }
    a{
      margin: 15px 15px;
    }
}